<!-- header -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		    <ul class="navbar-nav mr-auto">
				<li class="navbar-item"><a href="/" class="nav-link">トップ</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="navbar-item"><a href="/users/login" class="nav-link">ログイン</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- body -->
<body>
    <h1>新規登録</h1>
    <p>email</p>
    <p>username</p>
    <p>password</p>
</body>
    
<!-- footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-12">
				<hr class="light-100">
				<h5>&copy; miriwo.com</h5>
			</div>
		</div>
	</div>
</footer>